// USER VARIABLES SECTION

@lineheight: 1.6; // Document Line Height

// IMPORT SECTION

// @import (less) 'node_modules/bootstrap/dist/css/bootstrap-reboot.css'; // Bootstrap Reboot collection
// @import (less) 'node_modules/bootstrap/dist/css/bootstrap-grid.css'; // Optional Bootstrap Grid

// FONTS LOAD SECTION

.font(@fname, @fstyle, @fweight, @furl) {
	@font-face {
		font-family: @fname;
		font-style: @fstyle;
		font-weight: @fweight;
		src: url(@furl) format('truetype');
	}
}

.font('Swis', normal, 300, '../fonts/Sw721Lt.ttf');
.font('Swis', normal, 400, '../fonts/tt0003m_.ttf');
.font('Swis', italic, 400, '../fonts/tt0004m_.ttf');
.font('Swis', normal, 700, '../fonts/tt0005m_.ttf');
.font('Swis', italic, 700, '../fonts/tt0006m_.ttf');

// GENERAL CSS SETTINGS

:root {
	--primary-color: #a0fff4;
	--primary-color-hover: #91FAEE;
	--primary-color-focus: #0b7cac;
	--dark-color: #4d4d4d;
	--dark-light-color: #808080;
	--gray-color: #cccccc;
	--gray-light-color: #e6e6e6;

	--Swis: Swis, sans-serif;
	--system-font: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
	--h1: 40px;
	--h2: 36px;
	--h3: 32px;
	--h4: 28px;
	--fz-1: 24px;
	--fz-2: 20px;
	--fz-3: 16px;
	--fz-tiny: 12px;

	--box-shadow-1: 1px 2px 20px 0px rgba(0, 0, 0, 0.15);
	--box-shadow-2: 0px 0px 25px 4px rgb(0 0 0 / 10%);
	--box-shadow-3: 0px 0px 12px 4px rgb(0 0 0 / 10%);
	--box-shadow-4: 0px 0px 15px 0px rgb(0 0 0 / 10%);
}

body {
	font-family: var(--Swis);
	font-size: var(--fz-3);
	line-height: @lineheight;
	color: var(--dark-color);
	background-color: var(--gray-light-color);
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}

img {
	max-width: 100%;
	height: auto;
}